.flex-contenedor {
    background-color: rgba(128, 128, 128, 0.712);
    /*display: flex;*/
    display: inline-flex;
    flex-direction: row-reverse ;
    margin: 400px;
    
    

  }
  
  .item{
      width: 260px;
      height: 150px;
      margin: 10px;
      background-color: rgb(0, 255, 55);
    font-size: 55px;
    text-align: center;
  }
  .item2{
      width: 260px;
      height: 150px;
      margin: 10px;
      background-color: rgb(0, 47, 255);
    font-size: 55px;
    text-align: center;
  }
  .item3{
      width: 260px;
      height: 150px;
      margin: 10px;
      background-color: rgb(255, 0, 0);
    font-size: 55px;
    text-align: center;
  }