body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: #c4c4c4;
    padding: 1em 0;
    text-align: center;   
    
}
header h1{
    color: white;
    font: italic;
    size: 2em;
    font-weight: 100;
    display: inline-block;
    
    /* margin-left: 400px; */
}
footer{
    color: white;
}

   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #c4c4c4;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }
.holder{    
    max-width: 1500px;
    margin: auto;
    padding: 16px;
    
}
footer{
    background-color:#0f0f0f ;
    clear: both;
    color: write;
    padding: 2em 0;
    margin-top: 1em;
    text-align: center;
}
/* Hasta el Main */

.botanico{
    overflow: hidden;
}

.botanico{
    width: 19%;
    border: 2px solid gray;
    border-radius: 1em;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
}
.botanico{
    text-align: center;
}
.botanico img{
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(180, 74, 74, 0.5);
    margin: 0.8em 0 1em;
    max-width: 70%;
}
.botanico h5{
    text-align: center;
    font-weight: normal;
    color: rgb(53, 55, 59);
    margin: 1;
    font-size: 1em;
}
.botanico{
    font-size: 0.9em;
}
.botanico:first-child{
    margin-left: 1;
}

/* Inicia de contacto */
.columna{
    width: 50%;
    box-sizing: border-box;
    padding: 0.6em;
}
.columna.left{
    border-right: 1px solid grey;
}
.columna.right p{
    font-size: 0.9em;
}
.columna.right ul li{
    font-size: 0.8em;
}
.formulario label{
    vertical-align: top;
    width: 20%;
    display: inline-block;
}
.formulario input,
.formulario textarea{
    background-color: grey;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    width: 70%;
}
.formulario input[type="submit"]{
    background-color: grey;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    font-size: 1em;
    width: auto;
    cursor: pointer;
}
.formulario textarea{
    height: 10em;
    resize: none;
}
.formulario .acciones{
    text-align: center;
}