.contenedor{
	background-color: blue;
	/* display: inline-flex; */
	display: flex;
}

.item{
	background-color: #ccc;
	width: 200px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
	text-align: center;
}